<mat-card-content class="container" style="width:200%">

<form  [formGroup]="financeAccountForm" class="my-form"  width="20%">


    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Transaction Title" formControlName="financeAccount_tittle" [(ngModel)]="financeAccount.name">
        <mat-error>
            <span *ngIf="!financeAccountForm.get('financeAccount_tittle').valid && financeAccountForm.get('financeAccount_tittle').touched">
              Please enter Finance Account Tittle
            </span>
        </mat-error>

      </mat-form-field>
    </div>

  <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Start Amount" formControlName="financeAccount_amount"  [(ngModel)]="financeAccount.startAmount">
        <mat-error>
          <span *ngIf="!financeAccountForm.get('financeAccount_amount').valid && financeAccountForm.get('financeAccount_amount').touched">
            Please enter transaction tittle
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
<!--        <form  [formGroup]="transactionForm"  width="10%">-->
<!--      <mat-form-field class="mr-sm-24" >-->
      <mat-form-field class="full-width" >
        <input matInput [matDatepicker]="picker" placeholder="Transaction Date"
               autocomplete="on"
               name="date" formControlName="date" [(ngModel)]="financeAccount.createDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  [startAt]="date" #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button mat-raised-button  color="primary"  (click)="addFinanceAccount()">SAVE</button>
    <button mat-raised-button  style="left:15%" color="primary" mat-dialog-close>CANCEL</button>
</form>
</mat-card-content>
