

<!--    <mat-form-field >-->
<!--      <mat-label>Transaction Tittle</mat-label>-->
<!--      &lt;!&ndash;<input [(ngModel)]="user.name"  matInput  placeholder="First name"  name="fname"  required>&ndash;&gt;-->
<!--      <input matInput  placeholder="First name" [(ngModel)]="signUpRequest.name"   name="fname"  required>-->
<!--            <input matInput placeholder="Transaction Title" formControlName="transaction_title" >-->
<!--            <mat-error>-->
<!--                <span *ngIf="!transactionForm.get('transaction_title').valid && transactionForm.get('transaction_title').touched">-->
<!--                  Please enter transaction name-->
<!--                </span>-->
<!--            </mat-error>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field class="example-full-width">-->
<!--      <input matInput placeholder="Transaction Title" formControlName="transaction_title" [errorStateMatcher]="matcher">-->
<!--      <mat-error>-->
<!--          <span *ngIf="!transactionForm.get('transaction_title').valid && transactionForm.get('transaction_title').touched">-->
<!--            Please enter transaction name-->
<!--          </span>-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

<!--  </form>-->
<!--</mat-card-content>-->
<h3>{{title}}</h3>
  <form  [formGroup]="transactionForm">

<div class="example-container">

    <div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Transaction Title" formControlName="transaction_title" [(ngModel)]="transaction.title">
        <mat-error>
            <span *ngIf="!transactionForm.get('transaction_title').valid && transactionForm.get('transaction_title').touched">
              Please enter transaction tittle
            </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
    </div>
    <div>
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
      </div>

<div>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Transaction amount" formControlName="transaction_amount"  [(ngModel)]="transaction.amount">
        <mat-error>
          <span *ngIf="!transactionForm.get('transaction_amount').valid && transactionForm.get('transaction_amount').touched">
            Please enter transaction tittle
          </span>
        </mat-error>
      </mat-form-field>
</div>

        <div>
<!--  <form  [formGroup]="transactionForm"  width="10%">-->
    <mat-form-field class="mr-sm-24" >
      <input matInput [matDatepicker]="picker" placeholder="Transaction Date"
             autocomplete="on"
             name="date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker  [startAt]="date" #picker></mat-datepicker>
    </mat-form-field>
        </div>

<div>
    <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

</div>
</div>
  <div>
    <button mat-raised-button  color="primary"  (click)="addTransaction()">SAVE</button>
    <button mat-raised-button  style="left:15%" color="primary" mat-dialog-close>CANCEL</button>
  </div>
  </form>



<!--<mat-card-content width="50%">-->





<!--</mat-card-content>-->

<!--<mat-card class="example-card">-->
<!--  <form [formGroup]="transactionForm" (ngSubmit)="transactionForm.value">-->
<!--    <mat-form-field class="example-full-width">-->
<!--      <input matInput placeholder="Transaction Title" formControlName="transaction_title" [errorStateMatcher]="matcher">-->
<!--      <mat-error>-->
<!--        <span *ngIf="!transactionForm.get('transaction_title').valid && transactionForm.get('transaction_title').touched">-->
<!--          Please enter transaction name-->
<!--        </span>-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="example-full-width">-->
<!--&lt;!&ndash;      <input matInput placeholder="Transaction Title" formControlName="transaction_title" [errorStateMatcher]="matcher">&ndash;&gt;-->

<!--      <input matInput [matDatepicker]="dp" placeholder="Transaction date" [formControl]="date"  [errorStateMatcher]="matcher">-->
<!--      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>-->
<!--      <mat-datepicker [startAt]="date" #dp></mat-datepicker>-->
<!--      <mat-error>-->
<!--&lt;!&ndash;        <span *ngIf="!transactionForm.get('transaction_date').valid && transactionForm.get('transaction_date').touched">&ndash;&gt;-->
<!--&lt;!&ndash;          Please enter transaction date&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->


<!--    <mat-form-field class="mr-sm-24"   >-->
<!--      <input matInput [matDatepicker]="picker" placeholder="Date"-->
<!--             autocomplete="off"-->
<!--             name="date" formControlName="date">-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker  [startAt]="date" #picker></mat-datepicker>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="example-full-width">-->
<!--      <input matInput placeholder="amount" formControlName="transaction_amount" [errorStateMatcher]="matcher">-->
<!--      <mat-error>-->
<!--&lt;!&ndash;        <span *ngIf="!transactionForm.get('transaction_amount').valid && transactionForm.get('transaction_amount').touched">&ndash;&gt;-->
<!--&lt;!&ndash;          Please enter transaction name&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--      </mat-error>-->
<!--    </mat-form-field>-->
<!--  </form>-->

<!--</mat-card>-->
