<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
      <strong>BS</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#transactionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-home"></i>
          Transactions
        </a>
        <ul class="collapse list-unstyled" id="transactionSubmenu">
          <li>
            <a routerLink="Transactions">expenses</a>
          </li>
          <li>
            <a href="#">revenues</a >
          </li>
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-briefcase"></i>
          About
        </a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-copy"></i>
          Pages
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-image"></i>
          Portfolio
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-question"></i>
          FAQ
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-paper-plane"></i>
          Contact
        </a>
      </li>
    </ul>


  </nav>


  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span class="design"></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div *ngIf="isLogged(); then loggedBlock else notLoggedBlock"></div>
        <ng-template #notLoggedBlock>
          <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <button type="button" class="btn btn-info btn-sm" (click)="openLogin()">
                  Login
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-info btn-sm" (click)="openRegister()">
                  Register
                </button>
              </li>
            </ul>
          </div>
        </ng-template>

        <ng-template #loggedBlock>
          <div class="navbar-center">
            <finance-Account-select></finance-Account-select>
          </div>
          <div>
            <ul class="nav navbar-nav ml-auto">
              Logged
            </ul>
          </div>
        </ng-template>
      </div>
    </nav>
    <router-outlet></router-outlet>

    <!--<ngbd-modal-focus></ngbd-modal-focus>-->

    <!--<app-transaction></app-transaction>-->


  </div>
</div>
