

<button mat-fab color="primary" style="float: right; font-size: 32px; color: white" (click)="openAddTransaction()">+</button>
<div>
<mat-table [dataSource]="this.transactions" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let transaction"> {{transaction.title}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Tittle</mat-header-cell>
    <mat-cell *matCellDef="let transaction"> {{transaction.date | date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Transaction type </mat-header-cell>
    <mat-cell *matCellDef="let transaction"> {{transaction.transactionType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef> amount </mat-header-cell>
    <mat-cell *matCellDef="let transaction"> {{transaction.amount}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> type </mat-header-cell>
    <mat-cell *matCellDef="let transaction"> {{transaction.category}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
